:host(){
--dark-blue: #0b0d21;
--light-white:#fafafa;
--light-blue:#4f7df9;
--light-pink:#e91e63;
--dull-blue:#1d1e33;
--size-16:16px;
--size-12:12px;
--size-14:14px;

}
/* host element pointing out to component */
.app{
    min-height: 100vh;
    background-image: url(/sfsites/c/resource/BmiAppBackground);
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    box-sizing: border-box;
    max-width: 420px;
    text-align: center;
    margin: auto;
    background:var(--dark-blue);
    color:var(--light-white);
    padding: var(--size-16); 
    border-radius: 38px;
}
h1{
    font-size: 38px;
    padding: 20px 0;
    font-weight: bold;
}


.info-wrapper{
background: var(--dull-blue);
padding: var(--size-16);
border-bottom-left-radius: 38px;
border-top-right-radius: 38px;
font-size: var(--size-14);
text-align: center;

}
h2{
    font-size: 26px;
    color:var(--light-pink);
}
label{
    font-size: 20px;
    color: beige;
}
input{
    color: #1d1e33;
    padding: 8px;
    font-size: var(--size-16);
    
}
.custom-button{
    font-size: 16px;
    padding: 12px;
    background: #e91e63;
    color: white;
    border-color: #e91e63;
}
.result-value{
    color: var(--light-blue);
    font-size: 30px;
}